/* Header stylization, font taken from Google fonts. */
.prom {
    background-color: #1995AD;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Card stylization.*/
  .card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: #A1D6E2;
  }
  
  body {
    background-color: #F1F1F2;
  }
  
  img {
    width: 261px;
    height: 382px;
  }
  
  .img-trip {
    width: 500px;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
  }
  
  .blurb {
    background-color: #BCBABE;
    border-style: solid;
    border-width: 1px;
    border-color: black;
  }
  
  .tert {
      background-color: #A1D6E2;
  }
  
  h1 {
    margin-top: 0;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1995AD;
    color: black;
    text-align: center;
  }

  .portfolioLink {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

  .portfolioLink:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

  .portfolioLink:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }

  .portfolioLink:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }